body {
    font-family: 'Muli', sans-serif;
} 

.header {
    height: 620px;
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-position: 50% 62%;
}

.header-navbar-links {
    color: white;
    float: right;
    text-decoration: none;
    margin-top: 50px;
}

.header-navbar-links li {
    color: white;
    float: left;
    list-style-type: none;
    text-decoration: none;
    margin-left: 26px;
    text-shadow: 0px 0px 2px black;
}

.header-brand-wrapper {
    margin-top: 50px;
    float: left;
}
.header-brand {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    display: block;
    margin-top: -9%;
    text-shadow: 0px 0px 2px black;
}
.slogan {
    padding-top: 120px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 0px 2px black;
}
.slogan-top {
    font-size: 170%;
    font-weight: lighter;
} 
.slogan-bottom {
    font-size: 250%;
    font-weight: bold;
}
.solgan-button {
    margin-top: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px black;
}
.solgan-button:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px black;
}





.service {
    padding-top: 100px;
    padding-bottom: 85px;
}
.service-gray {
    background-color: rgb(245, 245, 245);
}
.service-title {
    font-weight: lighter;
    color: rgb(30, 30, 30);
}
.service p {
    color: rgb(117, 117, 117);
}
.service-icon {
    color: rgb(224, 224, 224);
    font-size: 1250%;
    text-align: center;
    margin-top: -10%;
    margin-bottom: -20%;
}